# Build
/target

# Fuzz
**/fuzz/target/
**/fuzz/corpus/
**/fuzz/artifacts/
**/fuzz/Cargo.lock

# Environment
.env
.env.*

# OS
.DS_Store

# Editor / IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Misc
wip/
docs/
bench-*.txt
