[package]
name = "sema-core"
version = "0.4.0"
edition = "2021"

[dependencies]
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
lasso.workspace = true
hashbrown.workspace = true
